/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 10, ../sass/nodes.scss */
div.view-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding: 20px;
  margin-bottom: 10px;
}

/* line 16, ../sass/nodes.scss */
article.node {
  /* Node wrapper */
  /*Se lo aplicamos a articulos solo*/
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 21, ../sass/nodes.scss */
.preview article.node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 25, ../sass/nodes.scss */
article.node .node-title {
  /* Node title */
}
/* line 26, ../sass/nodes.scss */
article.node .node-title a,
article.node .node-title a:visited,
article.node .node-title a:active {
  color: #FF9A00 !important;
  /*Por defecto color naranja*/
}
/* line 32, ../sass/nodes.scss */
article.node div.field-name-field-images {
  /* Multiple Images field */
  display: inline-block;
}
/* line 34, ../sass/nodes.scss */
article.node div.field-name-field-images div.field-item {
  float: left;
  margin: 12px;
}
/* line 40, ../sass/nodes.scss */
article.node .user-picture {
  /* The picture of the node author */
}
/* line 43, ../sass/nodes.scss */
article.node .submitted {
  /* The "posted by" information */
}
/* line 46, ../sass/nodes.scss */
article.node .content {
  /* Node's content wrapper */
}
/* line 50, ../sass/nodes.scss */
article.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}
/* line 53, ../sass/nodes.scss */
article.node .field-label {
  /*Titulos secundarios*/
  font-weight: bold;
  color: #b5d04c;
  /*TODO extraer como variable*/
  font-size: 113%;
}
/* line 58, ../sass/nodes.scss */
article.node .fieldset-legend {
  font-weight: bold;
  font-size: 113%;
}

/* line 64, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 67, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 70, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 73, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 81, ../sass/nodes.scss */
.node-static-content {
  /* about us */
  padding-top: 26px;
}
/* line 84, ../sass/nodes.scss */
.node-static-content div.field-type-image {
  float: right;
  position: relative;
  right: -20px;
  top: -60px;
}
/* line 91, ../sass/nodes.scss */
.node-static-content div.field-type-image img {
  border-radius: 1em;
}
/* line 95, ../sass/nodes.scss */
.node-static-content div.field-name-title-field {
  color: #ffcc00;
  font-size: 185%;
  margin-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}

/* line 103, ../sass/nodes.scss */
.node-webform {
  /* El nodo del formulario de contacto */
  padding-top: 26px;
}
/* line 106, ../sass/nodes.scss */
.node-webform div.field-type-image {
  float: right;
  position: relative;
  right: -20px;
  top: -60px;
}
/* line 112, ../sass/nodes.scss */
.node-webform div.field-type-image img {
  border-radius: 1em;
}
/* line 116, ../sass/nodes.scss */
.node-webform div.field-name-title-field {
  color: #00cBcc;
  font-size: 185%;
  margin-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}
/* line 122, ../sass/nodes.scss */
.node-webform form.webform-client-form {
  width: 60%;
  border-style: none;
}
/* line 125, ../sass/nodes.scss */
.node-webform form.webform-client-form legend {
  display: none;
}

/* line 131, ../sass/nodes.scss */
.node-how-to-help-node {
  padding-bottom: 20px;
}
/* line 133, ../sass/nodes.scss */
.node-how-to-help-node div.field-type-image {
  float: right;
  position: relative;
  top: 250px;
  left: 1px;
}
/* line 138, ../sass/nodes.scss */
.node-how-to-help-node div.field-type-image img {
  border-radius: 1em;
}
/* line 142, ../sass/nodes.scss */
.node-how-to-help-node div.field-name-field-subtitle {
  color: #ce3800;
  font-size: 185%;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
  border-radius: 0.8em 0.8em 0 0;
  display: block;
  background-color: #000;
  padding-left: 15px;
  margin-left: -15px;
  /*Compensar el padding del block*/
  margin-bottom: 15px;
  /*para separar el resto del contenido del block*/
}
/* line 155, ../sass/nodes.scss */
.node-how-to-help-node div.field-name-field-subtitle div.field-items {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 160, ../sass/nodes.scss */
.node-how-to-help-node h2 {
  font-size: 125%;
  font-family: 'Comfortaa', cursive;
  color: #ce3800;
}
/* line 165, ../sass/nodes.scss */
.node-how-to-help-node div.field-name-field-text {
  width: 49%;
}

/* line 171, ../sass/nodes.scss */
.node-petition h2.node-title {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  border-radius: 0.8em 0.8em 0 0;
  display: block;
  background-color: #000;
  padding-left: 15px;
  margin-left: -20px;
  /*Compensar el padding*/
  margin-right: -20px;
  /*Compensar el padding*/
  margin-bottom: 15px;
  /*para separar el resto del contenido*/
}

/* line 185, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 188, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
